{% load static %}
<div class="item item-true">
    <a href="{{ sanpham.get_absolute_url }}" class="item-thumb">
        <img src="{{ sanpham.hinhanh.url }}" alt="Item">
    </a>
    <div class="item-details">
        <h3 class="item-title"><a href="{{ sanpham.get_absolute_url }}">{{ sanpham.ten }}</a></h3>
        <div class="row item-box-total">
            <h4 class="item-price col-3">{{ sanpham.dongia }} ₫</h4>
            <div class="count-input offset-xl-2 col-xl-2 offset-1 col-3">
                {% for item in ghsp %}                
                    {% if item.sanpham == sanpham %}
                <a class="incr-btn" data-action="decrease" href="#🔻">–</a>
                <input class="quantity" type="text" value="{{ item.soluong }}">
                <input type="hidden" class="item-giohang" data-giohang="{{ item.giohang }}" data-sanpham="{{ item.sanpham.id_sanpham }}" data-soluong="{{ item.soluong }}" data-soluong-limit="{{ sanpham.soluong }}" data-dongia="{{ sanpham.dongia }}">
                <a class="incr-btn" data-action="increase"  href="#🔺">+</a>
                    {% endif %}                    
                {% endfor %}                
            </div>
            {% for item in ghsp %}                
                {% if item.sanpham == sanpham %}
                    <h4 class="item-total offset-2 col-3 text-right" data-thanhtien="{{ item.thanhtien }}">{{ item.thanhtien }} ₫</h4>
                {% endif %}                    
            {% endfor %}
            
        </div>
    </div>      
    <a href="#🛒" class="item-remove">
        <i class="material-icons clear"></i>
    </a>
</div>