{% load static %}
<p>&nbsp</p>
<footer id="footer" class="footer">
	<div class="column">
		<p class="text-sm">Hổ trợ <span class="text-primary">(0126) 9794-806</span></p>
		<div class="social-bar text-center space-bottom">
		<a href="#" class="sb-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest">
			<i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
		</a>
		<a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
			<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
		</a>
		<a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
				<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
		</a>
		<a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
			<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
		</a>
		</div><!-- .social-bar -->
		<p class="copyright">&copy; 2018. Made with <i class="text-danger material-icons favorite"></i> by Ryan Code Team.</p>
	</div><!-- .column -->
	<div class="column">
		<h3 class="widget-title">
		Đăng ký nhận mail
		<small>Để nhận các ưu đãi và giảm giá mới nhất</small>
		</h3>
		<form action="" method="post" target="_blank" class="subscribe-form" novalidate>
			<input type="email" class="form-control" name="EMAIL" placeholder="Your e-mail">
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1" value=""></div>
			<button type="submit"><i class="material-icons send"></i></button>
		</form>
	</div><!-- .column -->
	<div class="column">
		<h3 class="widget-title">
		Phương thức thanh toán
		<small>Chúng tôi hỗ trợ một trong các phương thức thanh toán sau.</small>
		</h3>
		<div class="cards"><img src="{% static 'img/brands/cards3.png' %}" alt="Cards"></div>
		<!-- Scroll To Top Button -->
		<div class="scroll-to-top-btn"><i class="material-icons trending_flat"></i></div>
	</div><!-- .column -->
</footer><!-- .footer -->
