    {% load static %}
    <script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/plugins/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/holder/holder.min.js' %}"></script>
    <script src="{% static 'js/plugins/icheck/icheck.js' %}"></script>

    <script src="{% static 'js/vendor/smoothscroll.js' %}"></script>
    <script src="{% static 'js/vendor/velocity.min.js' %}"></script>
    <script src="{% static 'js/vendor/waves.min.js' %}"></script>
    <script src="{% static 'js/vendor/icheck.min.js' %}"></script>
    <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.downCount.js' %}"></script>
    <script src="{% static 'js/vendor/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/vendor/nouislider.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/csrf.ajax.js' %}"></script>