{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/toastr.min.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/plugin.css' %}"> 

{% endblock base_head %}
    

{% block content %} 
<section class="wrapper-content container">
    <div class="content-account padding-top-3x">
        <h1 class="mobile-center"><span class="text-semibold">{{ taikhoan.full_name }}</span></h1>
        <ul class="nav nav-tabs text-center">
            <li class="active" id="tab-1"><a href="#profile" data-toggle="tab">Thông tin cá nhân</a></li>
            <li id="tab-2"><a href="#status-order" data-toggle="tab">Tình trạng đơn hàng</a></li>
        </ul>
        <div class="tab-content tab-account">
            <div class="tab-pane transition in active fade scale" id="profile">                
                <div class="padding-top">
                    <form id="account-form" method="post">
                        <div class="wrap-input100 validate-input">
                            <span class="label-input100">Email</span>
                            <input type="text" name="email" class="input100" id="email" value="{{ taikhoan.email }}"  disabled>
                            <span class="focus-input100 material-icons"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Chúng ta sẽ gọi nhau bằng gì ?">
                            <span class="label-input100">Họ tên</span>
                            <input type="text" name="hoten" class="input100" required="" id="hoten" value="{{ taikhoan.full_name }}">
                            <span class="focus-input100 material-icons"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Giữ liên lạc với nhau để khi nhớ nhau ta còn gọi">
                            <span class="label-input100">Số điện thoại</span>
                            <input type="text" name="sdt" class="input100" maxlength="11" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required="" id="sdt" value="{{ taikhoan.sdt }}">
                            <span class="focus-input100 material-icons"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Lịch không có ngày này bạn ơi! định dạng ngày phải là: d/m/Y">
                            <span class="label-input100">Ngày sinh</span>
                            <input type="text" name="ngaysinh" class="input100 dob" value="{{ taikhoan.ngaysinh|date:'d/m/Y' }}" id="ngaysinh">
                            <span class="focus-input100"></span>
                        </div>
                        <label for="gioitinh" class="label-input100">Giới tính</label>
                        <ul class="list-normal" id="gioitinh" data-gioitinh="{{ taikhoan.gioitinh }}">
                            <li>
                                <span><input type="radio" name="gioitinh" text="Nam" value="male">Nam</span>
                                <span><input type="radio" name="gioitinh" text="Nữ" value="female">Nữ</span>   
                                <span><input type="radio" name="gioitinh" text="Không xác định" value="undefined">Không xác định</span>                         
                            </li>                            
                        </ul>
                        <button type="button" id="btn-account" class="btn btn-primary waves-effect waves-light">Lưu</button>
                    </form>
                    <!-- 
                        email           = models.EmailField(max_length=255,unique=True,)
    full_name       = models.CharField(max_length=255, blank=True, null=True)
    ngaysinh        = models.DateField(blank=True, null=True)
    gioitinh        = models.CharField(max_length=9, default='undefined',
                    -->
                </div>
            </div>
            <div class="tab-pane fade scale" id="status-order">
                <div class="table-responsive">
                    <table>
                    <thead>
                        <tr>
                        <th>Order #</th>
                        <th>Date Purchased</th>
                        <th>Status</th>
                        <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><a href="#">31719DA0567</a></td>
                        <td>December 06, 2016</td>
                        <td><span class="text-warning">In Progress</span></td>
                        <td>$1,350.00</td>
                        </tr>
                        <tr>
                        <td><a href="#">22018770CV7</a></td>
                        <td>November 11, 206</td>
                        <td><span class="text-danger">Canceled</span></td>
                        <td>$475.60</td>
                        </tr>
                        <tr>
                        <td><a href="#">4B33FG45520</a></td>
                        <td>September 23, 2016</td>
                        <td><span class="text-success">Delivered</span></td>
                        <td>$2,140.80</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/vendor/toastr.min.js' %}"></script>
<script src="{% static 'js/vendor/toastr.custom.js' %}"></script>
<script src="{% static 'js/themes/taikhoan.handle.js' %}"></script>
{% endblock javascript %}