    <!-- Filters Bar -->
    <section class="container padding-top">
        <div class="filters-bar space-top-half">
          <div class="column">
            <!-- Nav Filters -->
            <ul class="nav-filters">
                <li class="active"><a href="#" data-filter="*">All</a> <sup>9</sup></li>
                <li><a href="#" data-filter=".devices">Devices</a> <sup>2</sup></li>
                <li><a href="#" data-filter=".packaging">Packaging</a> <sup>2</sup></li>
                <li><a href="#" data-filter=".fashion">Fashion</a> <sup>3</sup></li>
                <li><a href="#" data-filter=".paper">Paper &amp; Books</a> <sup>2</sup></li>
              </ul><!-- .nav-filters -->      
          </div><!-- .column -->
          <div class="column">
            <a href="#filters" class="filters-toggle search-btn" data-toggle="filters">
              <i class="material-icons filter_list"></i>
            </a>
            <a href="#search-box" class="search-btn" data-toggle="filters">
              <i class="material-icons search"></i>
            </a>
          </div>
        </div><!-- .filters-bar -->
        <div class="row filters">
          <div class="col-xs-12 filters-pane" id="filters">
            <div class="row">
              <div class="col-md-3">
  
                <!-- Sorting Widget -->
                <div class="widget widget-sorting">
                  <h3 class="widget-title">Sort By</h3>
                  <ul>
                    <li class="active"><a href="#">
                      <i class="material-icons sort"></i>
                      Default
                    </a></li>
                    <li><a href="#">
                      <i class="material-icons favorite_border"></i>
                      Popularity
                    </a></li>
                    <li><a href="#">
                      <i class="material-icons vertical_align_top"></i>
                      Last entries
                    </a></li>
                    <li><a href="#">
                      <i class="material-icons star_border"></i>
                      Avarage rating
                    </a></li>
                    <li><a href="#">
                      <i class="material-icons sort_by_alpha"></i>
                      Alphabetically
                    </a></li>
                  </ul>
                </div><!-- .widget.widget-sorting -->
              </div>
              <div class="col-md-2">
  
                <div class="widget widget-color">
                  <h3 class="widget-title">Color Filter</h3>
                  <ul>
                    <li><a href="#">
                      <span class="color" style="background-color: #93c4ef;"></span>
                      Blue
                    </a></li>
                    <li><a href="#">
                      <span class="color" style="background-color: #a7c04d;"></span>
                      Green
                    </a></li>
                    <li><a href="#">
                      <span class="color" style="background-color: #ef0568;"></span>
                      Red
                    </a></li>
                    <li><a href="#">
                      <span class="color" style="background-color: #ffce2b;"></span>
                      Yellow
                    </a></li>
                  </ul>
                </div><!-- .widget.widget-color -->
              </div>
              <div class="col-md-3">
  
                <!-- Price Range Widget -->
                <!-- Please note: Only one Range Slider allowed on the page! -->
                <div class="widget widget-catesgories">
                  <h3 class="widget-title">Price Range</h3>
                  <form method="post" class="price-range-slider" data-start-min="250" data-start-max="650" data-min="0" data-max="1000" data-step="1">
                    <div class="ui-range-slider"></div>
                    <footer class="ui-range-slider-footer">
                      <div class="column">
                        <button type="submit" class="btn btn-ghost btn-sm btn-default">Filter</button>
                      </div>
                      <div class="column">
                        <div class="ui-range-values">
                          <div class="ui-range-value-min">
                            $<span></span>
                            <input type="hidden">
                          </div> -
                          <div class="ui-range-value-max">
                            $<span></span>
                            <input type="hidden">
                          </div>
                        </div>
                      </div>
                    </footer>
                  </form><!-- .price-range-slider -->
                </div><!-- .widget.widget-categories -->
              </div>
              <div class="col-md-3 col-md-offset-1">
  
                <!-- Tags Widget -->
                <div class="widget widget-tags">
                  <h3 class="widget-title">Popular Tags</h3>
                  <a href="#">Interior</a>
                  <a href="#">Electro</a>
                  <a href="#">Bags</a>
                  <a href="#">Cuttlery</a>
                  <a href="#">Downloadable</a>
                  <a href="#">Digital goods</a>
                  <a href="#">HiFi</a>
                </div><!-- .widget.widget-price -->
              </div>
            </div><!-- .row -->
          </div><!-- .col-xs-12.filters-pane#filters -->
          {% include "timkiem/search_form.html" %}
        </div><!-- .row.filters -->
      </section><!-- .container -->